body{font:18px/1.1em liberation_sans, sans-serif;padding:3%;}
header img{display:block; float:left;}
header .tools{padding:55px 0 0 130px;}
header p{clear:both; margin:30px 0 0 0;}
h2{font-size:1.2em, sans-serif; margin:30px 0 10px 0;font-weight:normal;}
p{margin:0 0 0 0;}
time{font: .7em liberation_mono, monospace;margin:0 0 3px 0; letter-spacing:1px;}
em, i{font-style:italic;}
body.langfr .en{display:none;}
body.langen .fr{display:none;}
button{transform: skewX(-20deg)}
a{color:inherit;}
.btnprint{margin-left:15px;}
.toprint{display:none;}


@media print {
	img{display:none;}
	body{font:7pt/9pt liberation_sans, sans-serif; padding:0cm; margin:0;}
	header{margin-bottom:1cm;}
	header p{margin:0;}
	header img{width:2cm; height:auto;}
	h2{margin:10px 0 5px 0;}
	h2:before{content:"— ";}
	button{display:none;}
	a{color:black; text-decoration:none;}
	a:link:after, a:visited:after{content:" " attr(href) ""; font: .7em liberation_mono, monospace;}
	header a:link:after, a:visited:after{content:"";}
	.toprint{display:block;}
	.noprint{display:none;}
	.star{ display:none; width:1cm; height:auto; margin:.5cm auto 0 auto;}
	.message{display:block; position:absolute; bottom:0; right:1cm; font-style:italic;}
	header img{display:none!important;}
}
